<div class="container__big_card">
  <div class="big_card_photo">
    <img src="https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png" height="200px" alt="">
  </div>
  <div class="big_card_title">
    <a href="#"><h1>Saiu uma nova versão do Angular</h1></a>
  </div>
  <div class="big_card_description">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Dignissimos quidem placeat cumque ex soluta architecto,
      rerum, qui repudiandae temporibus enim nam, natus nisi eum?</p>
  </div>
</div>
